:root {
    --ss-poppins: "Poppins", sans-serif;
    --ss-josefin:"Josefin Sans", sans-serif;
    --ss-font500: 500;
    --ss-font600: 600;
    --ss-font700: 700;
    --ss-font800: 800;
    --ss-fontbold: bold;
    --ss-primary: #266BF9;
    --ss-secondary:#134D72;
  }

  $bg-primary-color:#252525;
  $bg-secondary-color:#266BF9;


  

